.playButton {
  // background-color: transparent;
  // border-color: transparent;
  // cursor: pointer;
  
}



.playButton :active {
  text-emphasis-color: white;
  background-color: aqua;
}

.playButtonIcon {
  color: black
}

.buttonContainer {
  display: flex;

  background-color: green;
  justify-content: center;
  align-items: center;
}

.card {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  min-width: 300px;
  min-height: 169.5px;
  background-color: transparent;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  background-color: transparent;
}